:root {
    --black-900: #878e99;
    --black-800: #282b30;
    --black-700: #c4cfde;
    --black-600: #15171b;
    --body: #212428;
    --red-900: #ff014f;
    --shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --Montserrat: 'Montserrat';
    --Poppins: 'Poppins';

}
body {
    background-color: var(--body);
}
*{
    scroll-behavior: smooth;
}
 /* header   */
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--black-800);
}
::-webkit-scrollbar-thumb {
    background-color: var(--black-600);
    height: 50px;
}
.hed {
    height: 100vh;
    padding: 50px 50px;
    overflow-y: scroll;
}
.asied{
    height: 100vh;
    overflow-y: scroll;
}
/* img1 */
img {
    border-radius: 50%;
    border: 5px solid var(--black-800);
    box-shadow: var(--shadow);
}
/* menu */
.main ul li {
    margin: 25px 0;
}
.main ul li a {
    font-size: 16px;
    color: var(--black-700);
    text-transform: uppercase;
    font-family: var(--Montserrat);
    transition: all 0.5s;
}
.main ul li a i {
    padding-right: 15px;
}
.main ul li a:hover {
    color: var(--red-900);
}
.header .main ul li:first-child a {
    color: var(--red-900);
}
/* button */
.btn {
    width: 100%;
    height: 45px;
    background-color: var(--black-600);
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-top: 25px;
}
.btn {
    color: var(--black-900);
}
.btn span {
    width: 18px;
    height: 18px;
    background-color: var(--red-900);
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}
/* title  social-icon  */
.title p {
    font-size: 14px;
    font-family: var(--Poppins);
    color: var(--black-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    font-weight: 500;
}
.social-icon i {
    width: 50px;
    height: 50px;
    background: linear-gradient(to right bottom, #1e2023, #292b30);
    color: var(--black-700);
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.social-icon i:hover{
    transform: translateY(-10%);
    transition: all 1s;
    background-color: var(--black-600);
}

/* slider */
.silder {
    text-align: center;
    height: 750px;
}
.silder .img img {
    height: 320px;
    width: 320px;
    border: 10px solid var(--red-900);
}
.silder h2 {
    font-size: 48px;
    font-family: var(--Montserrat);
    color: var(--black-700);
    margin-top: 10px;
    line-height: 1.70;
    letter-spacing: 5px;
}
.silder p{
    font-family:var(--Poppins) ;
    font-size: 30px;
    color: var(--black-700);
    word-spacing: 10px;
}
.silder p span{
    color: var(--red-900);
}
.btn1{
    background-color: var(--black-600);
    width: 160px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    margin: 25px auto;
    display: inline-block;
    box-shadow: var(--shadow);
}
.silder .btn1:hover{
    /* color: var(--red-900); */
    transform: translateY(-10%);
    transition: all 1s;
}
.silder .btn1 a{
    color: var(--red-900);
    font-family: var(--Poppins);
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* features/ */
.features{
    padding: 45px 50px;
    background: linear-gradient(to right bottom, #1e2023, #292b30);
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 370px;
    transition: all 0.5s;
}
.features i{
    font-size: 40px;
    color: var(--red-900);
}
.features h4{
    font-size: 24px;
    font-weight: 500;
    word-spacing: 5px;
    margin: 30px 0;
}
.features a{
    color: var(--black-900);
}
.features p{
    font-size: 16px;
    color: var(--black-700);
    margin-bottom: 40px;
}
.features .arrow{
    opacity: 0;
    transition: all 0.5s;
}
.features .arrow i{
    font-size: 30px;
}
.features:hover .arrow{
    opacity: 1;
}
.features:hover{
    background:linear-gradient(to right bottom, #212428, #16181c) ;
    padding-top: 35px;
}
.myprot{
    margin-bottom: 50px;
}

/* resume */
.resume{
    box-shadow: var(--shadow);
    margin: 40px 0;
}
.topic{
    padding: 30px;
    text-align: center;
    background-color: var(--black-600);
    border-radius: 20px;
    box-shadow: var(--shadow);
}
.resume .w-25 :first-child{
    box-shadow: #878e99;
}
.resume .w-25:first-child a{
    color: var(--red-900);
}
.resume a{
    color: var(--black-900);
    font-family: var(--Poppins);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.resume .w-25:hover a{
    color: var(--red-900);
    background-color: var(--body);
}

/* eduction */
.eduction span{
    color: var(--red-900);
    font-family: var(--Poppins);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.eduction h1{
    font-size: 36px;
    font-family: var(--Poppins);
    font-weight: 700;
    color:var(--black-700) ;
}
.eduction-contect{
    border-left: 10px solid var(--black-600);
    padding-left: 30px;
}
.single-list{
    padding: 45px 25px;
    background: linear-gradient(to right bottom, #212428, #16181c);
    box-shadow: var(--shadow);
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
}
.education-content .single-list::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--black-900);
    border-radius: 50%;
    left: -45px;
    top: 60px;
}
.education-content .single-list::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--black-700);
    border-radius: 50%;
    left: -40px;
    top: 65px;
    transition: all 1s;
}
.education-content .single-list .title .main-title::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 5px;
    background-color: #17191c;
    top: 20px;
    left: -65px;
}
.single-list::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--black-800);
    border-radius: 50px;
    left: -44px;
}
.single-list::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--black-900);
    border-radius: 50px;
    left: -39px;
    top: 50px;
    transition: all 1s;
}
.single-list:hover::after{
    background-color:var(--red-900) ;
}
.main-title{
    text-align: left;
}
.single-list .title .main-title h3 , .pricing .title .main-title h3{
    color: var(--black-700);
    font-size: 23px;
    font-family: var(--Poppins);
}
.single-list .title .main-title span , .pricing .title .main-title span{
    font-size: 18px;
    font-family: var(--Poppins);
    color: var(--black-900);
}
.single-list .title .sub-title span , .pricing .title .sub-title span{
    font-size: 16px;
    font-family: var(--Poppins);
    color: var(--red-900);
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
.single-list .title{
    padding: 20px;
    margin-bottom: 30px;
}
.single-list .line{
    border-color: var(--black-600);
}
.single-list .title .main-title p{
    color: var(--black-900);
    font-size: 20px;
    line-height: 30px;
}
.sub-title span{
    top: 50px;
}

/* client */
.content {
    height: 214px;
    text-align: center;
    margin-top: 30px;
}
.client-card .content {
    padding: 30px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow);
    width: 100%;
    height: 220px;
}
 .client-card .content a {
    color: var(--black-900);
    font-size: 16px;
    font-family: var(--Poppins);
    font-weight: 500;
}
.due img{
    display: inline-block;
    border-radius: 0;
    color: var(--black-900);
    box-shadow: none;
    border: none;
    padding-bottom: 30px;
    height: 100px;
}
.content:hover {
    padding: 30px;
    background: linear-gradient(to right bottom, #212428, #16181c);
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow);
    width: 100%;
}
.client-card .content a h2 {
    font-size: 16px;
    font-family: var(--Poppins);
    color: var(--black-800);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--black-700);
    padding: 16px;
}
.client .menu{
    background: linear-gradient(145deg, #1e2024, #23272b) ;
    box-shadow: var(--shadow);
    border-radius: 10px;
    position: sticky;
    top: 0;
}
.client .menu ul li a{
    color: var(--black-700);
    font-size: 18px;
    font-family: var(--Poppins);
    transition: all 1s;
}
.client .menu li{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.client .menu ul li:first-child{
    color: var(--red-900);
}
.client ul li:first-child , .price-table ul li:first-child{
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.client ul li:hover , .price-table ul li:hover{
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.client ul li:hover a{
    color: var(--red-900);
}

/* pricing */
.w-40 .title h4 {
    padding: 0px;
    top: 0;
}
.w-40 .title{
    position: sticky;
    top: 0;
}
.price{
    padding-bottom: 60px;
}
.pricing {
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: var(--shadow);
    border-radius: 6px;
    width: 100%;
}
.price-content span {
    font-family: var(--Montserrat);
    font-size: 16px;
    color: var(--black-900);
}
.pricing .w-33 {
    padding: 0px;
}
.w-33 a .topic h2 {
    color: var(--black-700);
    font-size: 18px;
}
.pricing a:first-child{
    color: var(--red-900);
}
.w-33 a .topic :hover {
    color: var(--red-900);
    font-size: 18px;
    transition: all 0.5s;
}
.icon-con ul li{
    color: var(--black-700);
    font-weight: 400;
    font-size: 18px;
    font-family: var(--Montserrat);
    margin:0px 0px 30px;
}
.icon-con ul li i{
    padding-right: 8px;
}
.price-content{
    padding: 40px 50px 40px 50px;
}

.price-content .sub-title .btn{
    font-size: 30px;
    height: 75px;
    align-items: center;
    font-weight: 600;
    padding: 9px 25px;
    display: flex
}
.price-content .btn {
   color: var(--red-900);
   letter-spacing: 2px;
   font-family: var(--Montserrat);
   font-weight: 500;
   font-size: 14px;
   box-shadow: var(--shadow);
  background: linear-gradient(145deg, #1e2024, #23272b);;
  transition: all 1s;
}
.price-content .time{
    font-size: 12px;
    font-weight: 500;
    color:var(--time-line-color);
    letter-spacing: 1px;
    font-family: var(--Montserrat);
    margin-top: 30px;
}
.price-content .time i{
    margin: 0px 5px 0px 15px;
    color: var(--black-900);
}
.price-content .btn:hover{
    background: linear-gradient(145deg, #1b1d20, #151719);
    transition: all 1s;
}
.price-content .btn:hover{

    transform: translateY(-10%);
    transition: all 1s;
 }
.client {
    padding-bottom: 60px;
}
.price-content .main-title  h3{
    color: var(--black-700);
}
.single-list{
    padding: 45px 25px;
    background: linear-gradient(to right bottom, #212428, #16181c);
    box-shadow: var(--shadow);
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
}

/* blog */
.blog{
    background: linear-gradient(145deg, #1e2024, #23272b);
    padding: 30px;
    padding-bottom: 34px;
    box-shadow: var(--shadow);
    border-radius: 20px;
    transition: all 1s;
}
.blog .blog-img{
    overflow: hidden;
    width: 323px;
    height: 237px;
    border-radius: 20px;
}
.blog .blog-img img{
    border-radius: 20px;
    border: none;
}
.blog .blog-content{
    padding-top: 20px;
}
.blog .blog-content .blog-title a{
    color: var(--red-900);
    font-size: 12px;
    font-family: var(--Poppins);
    padding: 0;
}
.blog .blog-content .blog-title h4{
    font-size: 13px;
    font-family: var(--Montserrat);
    color: var(--black-900);
    font-weight: 500;
}
.blog .blog-content a{
    color: var(--black-900);
    font-size: 23px;
    font-family: var(--Montserrat);
    line-height: 1.5;
    transition: all 1s;
}
.blog-title{
    margin: 10px 0;
}
.blog-content h2 a i{
    transform: rotate(320deg);
    opacity: 0;
    transition: all 1s;
}
.blog .blog-content h2:hover a i{
    opacity: 1;
}
.blog:hover .blog-content h2 a{
    color: var(--red-900);
}
.blog:hover .blog-img img{
    transform: scale(1.2);
}
.blog img{
    transition: all 1s;
}
.blog:hover{
    background: linear-gradient(to right bottom, #212428, #16181c);
}
/* contects */
.call{
    margin-bottom: 80px;
    padding: 0 10px;
}
.contacts .contacts-img{
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
}
.contacts:hover .contacts-img img{
    transform: scale(1.5);
}
.contacts .contacts-img img{
    border-radius: 20px;
    border: none;
    transition: all 1s;
}
.contacts{
    background: linear-gradient(145deg, #1e2024, #23272b);
    padding: 30px;
    padding-bottom: 34px;
    box-shadow: var(--shadow);
    border-radius: 20px;
    transition: all 1s;
}
.contacts .contacts-content h5{
    color: var(--black-700);
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 9px;
    font-family: var(--Poppins);
}

.contacts .contacts-content span{
    color: var(--black-900);
    font-size: 16px;
    font-family: var(--Poppins);
}
.contacts .contents p{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-900);
    font-family: var(--Poppins);
    line-height: 30px;
    display: inline-block;
    margin-bottom: 20px;
}
.contents{
    margin-bottom: 30px;
}
.contacts .contents .phone{
    color: var(--black-900);
    display: block;  
}
.contacts .contents .phone a{
    color: var(--black-700);
    transition: all 1s;
    position: relative;
}
.contacts .contents .phone:hover a{
    color: var(--red-900);
}
.contacts .contents .mail{
    color: var(--black-900);
    display: block;
}
.contacts .contents .mail a{
    color: var(--black-700);
    transition: all 1s;
}
.contacts .contents .mail:hover a{
    color: var(--red-900);
}
.contacts .social-area .name{
    font-size: 14px;
    font-family: var(--Poppins);
    font-weight: 500;
    color: var(--black-900);
    margin-bottom: 8px;
}
.social-icons a i {
    width: 50px;
    height: 50px;
    background-color: var(--black-600);
    color: var(--black-700);
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin: 20px;
    transition: all 1s;
}
.social-icons a i:hover{
    color: var(--red-900);
    transform: translateY(-10%);
    transition: all 1s;
}
.contents span a::after{
    position: absolute;
    content: ' ';
    width: 0%;
    border: 1px solid var(--red-900);
    bottom: 0;
    left: 0;
    transition: all 1s;
    opacity: 0;
}
.contents span a:hover::after{
    width: 100%;
    opacity: 1;
}
/* form */
.contect-form{
    padding: 30px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1b1d21, -10px -10px 19px #1f2224;;
    border-radius: 20px;
    height: 729px;
    width: 100%;
}
.contect-form form label{
    font-family: var(--Montserrat);
    font-size: 14px;
    color: var(--black-900);
    margin: 20px 0;
    display: flex;
}
.contect-form form input{
    height: 55px;
    padding: 0 15px;
    background-color: var(--black-600);
    border: 0;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    border-radius: 10px;
    width: 100%;
}
.contect-form form input:focus{
    border: 1px solid var(--red-900);
}
.f-line .f-name{
    width: 50%;
}
.f-name{
    padding: 0 10px;
}
.contect-form .btn{
   box-shadow: var(--shadow);
   background: linear-gradient(145deg, #1e2024, #23272b);;
   text-align: center;
   line-height: 45px;
   font-family: var(--Poppins);
}
.contect-form .btn:hover{

   transform: translateY(-10%);
   transition: all 1s;
}
.msg{
    height: 150px!important;
}
/* bio */
footer{
    padding: 60px 0px;
}
footer img{
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 30px;
}
.last a,.last p{
 padding-left: 4px;
 color: var(--black-900);
 transition: all 0.5s;
 font-family: var(--Poppins);
 position: relative;
}
.last a:hover{
    color: var(--red-900);
}
.last a::after{
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    border: 1px solid var(--red-900);
    width: 0;
    opacity: 0;
    transition: all 1s;
}
.last a:hover::after{
    opacity: 1;
    width: 100%;
}